*{
    margin: 0;
    border: none;
    box-sizing: border-box;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(61, 61, 119);
}



.login-container{
    width: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    margin-bottom: 15px;    
}

.login-container input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;        /* remove a borda preta */
    outline: none;       /* remove a borda ao clicar (focus) */
    background: rgb(214, 211, 211); /* só exemplo de fundo */
    padding: 8px;
    border-radius: 6px;  /* deixa mais bonito */
  }

.conta{
    display: flex;
    align-items: center;
    justify-content: baseline;
    text-wrap: nowrap;       
}

button{
    width: 8vw;
    height: 3vh;
    border: none;
    background-color: rgb(168, 168, 214);
    outline: none; 
    border-radius: 6px;
    margin-top: 30px;
}